<div class="row">
  <div class="col-md-7">
    <h2>Get user Details by Id</h2>
    <ul class="list-group">
      <li class="list-group-item">
        The first Name is: {{profile.profile.firstName}} <br>
        The last Name is: {{profile.profile.lastName}} <br>
        The Country is: {{profile.profile.County}} <br>
      </li>
      <li class="list-group-item"
      *ngFor="let team of profile.favoriteTeams">
        The filed is: {{team.field}}<br>
        The team is: {{team.team}}
      </li>
    </ul>
  </div>
  </div>